#centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
}

.links a {
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Adjust spacing as needed */
    text-decoration: none;
    color: blue; /* Choose your preferred color */
    flex-direction: row;
    font-size: 36px;
}

#content {
    font-size: 24px;
    width: 35%;
    align-items: center;
    justify-content: center;
}